

.container {


    width: 100%;
    position:relative;
    
    
    
    
}

.container img{
 margin-top:70px;
 width: 100%;
 border-style:solid;
 border-width: 2px;
 border-color:black;

}



.container h1{
    position:absolute;
    z-index: 1;
    left: 0;
    top: 0.5%;
      float: left;
    width: 100%;
    
    font-size: 30px;
    font: bold
}






.box {
    width: 99%;
    height: 45px;
    background-color:white;
    position:absolute;
    top:61%;
    bottom: 0px;
    border-style:solid;
    border-width: 2px;
    border-color:black;
   
}

.box h1{

    margin: auto;
    color:black;
    width: 100%;
    text-align: center;
}



.logo{
    bottom: 50px;
   padding: 10px 10px 10px 10px;
    margin: 50px 80px 100px 0px;
    background-color: white;
    height: 250px;
    width: 250px;
    top:250px;
    
     

}


.content{
margin:50px 20px 200px 200px;
font-size:17px;
padding:10px 200px 10px 10px ;
background-color:white;

}




.menu{
    padding:0;
    margin:0;
    border:0;
    list-style: none;
}

a{
    text-decoration: none;
    color:black;
    padding: 0px 8px;
    margin: 3px 3px;
    line-height: 40px;
    
}

    

ul.menu li{
    float: left;
    height: 50px;
    display:block;
    font-size: 14px;
    padding: 0px 15px;
    border-style: solid;
    border-color: black;
    
    margin: 0px 10px;
    border-width: 2px;
    
    
}
 
section{
    float:left;
    background-color:white;
    border: 2px;
    height: 200px;
    width: 20%;
    
}
   
aside{
    float: right;
    background-color:white;
    border: 2px;
    height: 200px;
    width: 80%;
   
}


    

    



/* index */
.indexmenu .home{
    background-color: cornflowerblue;
    height:50px ;
    width: 50px;
    position: absolute;
    top:50px;
    bottom:100px;
    right: 225px;;
    z-index:1;
    box-shadow: 4px 4px 4px #000000;
} 

 .indexmenu .about{
    background-color: white;
    height:50px ;
    width: 50px;
    position: absolute;
    top:50px;
    bottom:100px;
    right: 125px;;
    z-index:1;
    box-shadow: 4px 4px 4px #000000;
} 

 .indexmenu .contact{
    background-color: white;
    height:50px ;
    width: 50px;
    position: absolute;
    top:50px;
    bottom:100px;
    right: 25px;;
    z-index:1;
    box-shadow: 4px 4px 4px #000000; 
}






/* about */
.aboutmenu .home{
    background-color: white;
    height:50px ;
    width: 50px;
    position: absolute;
    top:50px;
    bottom:100px;
    right: 225px;;
    z-index:1;
    box-shadow: 4px 4px 4px #000000;
} 

 .aboutmenu .about{

    background-color: cornflowerblue;
    height:50px ;
    width: 50px;
    position: absolute;
    top:50px;
    bottom:100px;
    right: 125px;;
    z-index:1;
    box-shadow: 4px 4px 4px #000000;
} 

 .aboutmenu .contact{
    background-color: white;
    height:50px ;
    width: 50px;
    position: absolute;
    top:50px;
    bottom:100px;
    right: 25px;;
    z-index:1;
    box-shadow: 4px 4px 4px #000000; 
}


/* contat */
.contactmenu .home{
    background-color: white;
    height:50px ;
    width: 50px;
    position: absolute;
    top:50px;
    bottom:100px;
    right: 225px;;
    z-index:1;
    box-shadow: 4px 4px 4px #000000;
} 

 .contactmenu .about{
    background-color: white;
    height:50px ;
    width: 50px;
    position: absolute;
    top:50px;
    bottom:100px;
    right: 125px;;
    z-index:1;
    box-shadow: 4px 4px 4px #000000;
} 

 .contactmenu .contact{
    background-color: cornflowerblue;
    height:50px ;
    width: 50px;
    position: absolute;
    top:50px;
    bottom:100px;
    right: 25px;;
    z-index:1;
    box-shadow: 4px 4px 4px #000000; 
}
